@import url(style.css);

* {
    color: var(--text-color);
}

#main-container {
    min-height: 90vh;
}

p {
    margin-top: 1.6em;
    font-size: 1.5em;
    border-left: solid;
    border-right: solid;
    padding: 0.7em;
    line-height: 1.2em;
}

#intro {
    margin: 4.5em auto 3em auto;
    height: fit-content;
}

#title-top {
    border-top: solid;
    border-bottom: solid;
    font-size: 2..3em;
}

h2 {
    font-size: 1.7em;
}

#description p {
    margin-top: 1em;
    margin-bottom: 3.5em;
    font-size: 1.3rem;
}